:root {
    --light-gray:  hsl(204, 43%, 93%);
    --cyan:  hsl(179, 62%, 43%);
    --off-cyan: hsla(179, 62%, 43%, 0.699);
    --bright-yellow: hsl(71, 73%, 54%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    font-family:"Karla", sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

html{
    font-size: 62.5%;
}

body{
    background-color:var(--light-gray);
    height: 100vh;
    padding: 8rem  3.2rem;
    max-width: 700px;
    margin: 0 auto;
}

h4, p {
    margin: 1.4rem 0;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "price why-us";
    
}

.header{
    background-color: white;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    grid-area: header;
    padding: 30px;

}

.why-us{
    background-color: var(--off-cyan);
    border-bottom-right-radius: 5px;
    grid-area: why-us;
    padding: 30px;
}


.price{
    background-color: var(--cyan);
    border-bottom-left-radius: 5px;
    grid-area: price;
    padding: 30px;
}
.first{
    color: var(--cyan);
}

.second{
    color: var(--bright-yellow);
    font-size: 1.6rem ;
}

.first-text{
    color: #9f9f9f;
}

.costo {
    color: white;
    font-size: 2.4rem;
}

.tiempo{
    font-size: 1.6rem;
    color: rgb(250, 249, 246);
    opacity: 0.6;
}

.full-acces{
    color: white;
}

.price h4{
    color: white;
}

.why-us h4{
    color: white;
}

.sign{
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bright-yellow);
    width: 100%;
    font-weight: 600;
    padding: .5rem 1.25rem;
    box-shadow: 1px 2px 8px 3px #606060;
    color: white;
}

.sign:hover{
    background-color: blue;
}

.main-container .why-us  p{
    font-size: 1rem;
    line-height: .32rem;
    color: #efefef ;
    
}


    @media ( max-width: 375px ) {
        
        .main-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "header"
            "price"
            "why-us";
        }
        
        

        .main-container .header{
            grid-area: header;
        }

        .main-container .price{
            grid-area: price;
        }

        .main-container .why-us{
            grid-area: why-us;
        }

        .header{
            padding: 1.2rem ;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .price{
            padding: 1.2rem;
            border-radius: 0;
        }

    

        .why-us{
            padding: 1.2rem ;
            border-bottom-left-radius: 5px;
        }
    
    }